{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}

    <!--<div class="d-flex justify-content-center align-items-center"> -->
    <div class="row">
    	<div class="col-sm-1"></div>
    	<div class="col-sm-12">
    		<div class="instruction">
    			<h3>
	    		Practise with the set of abstracts below, to familiarise with the expectations of labeling in the main app.
		    	</h3>
		    	
		    	<p>The guidelines are as follows:</p>
		    	<ol>
		    		<li>Read through each abstract to identify any sentence of interest. Then, click on the sentence(s)</li>
		    		<li>The sentence(s) automatically appears to the right of the abstract. If there occurs a <strong>mistake</strong>, double click the corresponding sentence column to the right of the abstract to change your choice.</li>
		    		<li>In the extracted sentence, highlight any clause or phrase(s) that actually signals the comparison.</li>
		    		<li>Uncheck the RCT column box for any study you presume not to be a RCT.</li>
		    		<li>Click on the 'click to submit' button at the buttom of the page when you finish to submit your response.</li>
		    	</ol>
    		</div>
    	</div>
    	<div class="col-sm-1"></div>
    </div>

    
    <form action="{{ url_for('example.assess') }}" method="post">
    	{{ pub_form.hidden_tag() }}
  		<div class="row">
  			<div class="col-sm-1 visible-sm-block"></div>
    		<div class="table-responsive-md col-md-12 col-sm-10">
    			<table class="dataframe table table-striped table-hover w-auto">
    				<tr><div class="col-sm-7">
    					<th class="justify-content-center">Number</th>
    					<th class="ustify-content-center">Abstract</th></div>
    					<th class="col-sm-3 justify-content-center">Sentence</th>
    					<div class="col-sm-2"><th class="justify-content-center">Clause/Phrase</th>
    					<th class="justify-content-center"> RCT</th>
    					<th class="justify-content-center"> Clarity</th></div>
    				</tr>
    				{% for article, abst in pub %}
	    				<div class="form-group">
	    					<tr>
	    						<div class="col-sm-6">
	    							<td>{{ article.number(size=7)}}</td>
	    							<td id="abstract">{% for a in abst.Abstract %} <a class='abstract text-justify' href="">{{ a }}</a>{% endfor %}</td>
	    						</div>
	    						<td class="col-sm-3">{{ article.sentence(class_='sentence form-control', rows = 15) }}</td>
	    						<div class="col-sm-3">
	    							<td>{{ article.clause(class_='clause form-control', rows=15) }}</td>
	    							<td>{{ article.is_rct(class_="checkbox-bootstrap form-control") }}</td>
	    							<td>{{ wtf.form_field(article.clarity, class_='form-control', button_map={'radio': 'btn-secondary'}) }}</td>
	    						</div>
	    					</tr>
	    				</div>
    				{% endfor %}
    			</table>
    		</div>
    		</div>

    	<div class="col-sm-1 visible-sm-block"></div>
    
    	<div class="row">	
    		{{ wtf.quick_form(sub_form, button_map={'submit': 'primary btn-lg'}) }}
    	</div>
    </form>
	

{% endblock %}

{% block scripts %}
{{ super() }}
<script>
	
    $(".abstract").click(function (e) {
    	e.preventDefault();
    	var copyText = $(this).text();
    	document.addEventListener('copy', function(e) {
      		e.clipboardData.setData('text/plain', copyText);
      		e.preventDefault();
   		}, true);

    	document.execCommand("copy");
    	if (!$(this).closest('tr').find('.sentence').val()){
    		$(this).closest('tr').find('.sentence').val(copyText);
    	}
    	else {
    		$(this).closest('tr').find('.sentence').val($(this).closest('tr').find('.sentence').val() + '\n' + '***' + copyText);
    	}
    });

    $('.sentence').select(function () {

    	var selectedText = '';
    	//var text = "";
    	var activeEl = document.activeElement;
    	var activeElTagName = activeEl ? activeEl.nodeName.toLowerCase() : null;
    	if ((activeElTagName == "textarea") || (activeElTagName == "input")) {
        	selectedText = activeEl.value.slice(activeEl.selectionStart, activeEl.selectionEnd);
    	} 
    	else if (window.getSelection) {
        selectedText = window.getSelection().toString();
    	}
    	console.log(selectedText)
    	if (!$.trim($(this).closest('tr').find('.clause').val())){
    		
    		$(this).closest('tr').find('.clause').val(selectedText);
    	}
    	else{
    		$(this).closest('tr').find('.clause').val($(this).closest('tr').find('.clause').val() + '\n***' + selectedText);
    	}

    	window.getSelection().removeAllRanges();
    });


	$('.sentence').dblclick(function(){
    	$(this).val('');
    	$(this).closest('tr').find('.clause').val('');

    });

    $('.clause').dblclick(function(){
    	$(this).val('');

    });

    window.addEventListener('beforeunload', function (e) {
  // Cancel the event
        e.preventDefault();
  // Chrome requires returnValue to be set
        e.returnValue = '';
    });
    window.addEventListener('beforeunload', function (e) {
  // the absence of a returnValue property on the event will guarantee the browser unload happens
  delete e['returnValue'];
});


</script>
{% endblock %}

