{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <div class="row">
    	<div class= "col-sm-1"></div>
    	<div class="col-sm-10">
	        <h2>Articles load options</h2>
	        <form action=" " method="post">
    			{{ load_article_form.hidden_tag() }}
    			{{ load_article_form.number.label }}
    			{{ load_article_form.number }}
    			{{ load_article_form.submit }}
    		</form>
	       
	     </div>
	    <div class="col-sm-1"></div>
    </div>
{% endblock %}

