{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <div class= "col-lg-3"></div>
    <div class="col-lg-6">
        <div class = "row form-group" id="showExample">
            
            <a href = "{{ url_for('example.sample') }}" class="btn btn-primary btn-lg mt-1 font-weight-bold btn-block" role = "button" id = "samplebtn">Try samples</a>

            <button type="button" class="btn btn-primary btn-lg btn-lg btn-success mt-1 font-weight-bold btn-block" id="optionShow" id="appbtn">Go to app</button>
           
        </div>
        <div class="row" id="loadLimitForm">
    	
	        <h1>Articles load options</h1>
            <br>
	        <form action=" " method="post">
    			{{ load_article_form.hidden_tag() }}
    			{{ load_article_form.number.label }}
    			{{ load_article_form.number }}
    			{{ load_article_form.submit }}
    		</form>
	       
	   </div>
    </div>
    <div class="col-lg-3"></div>
{% endblock %}

{% block scripts %}
{{ super() }}
<script type="text/javascript">
    $(document).ready(function () {
        $("#loadLimitForm").hide();
        $("#optionShow").click(function () {
            $("#loadLimitForm").show();//slideToggle('slow');
                $(this).hide();//fadeOut('slow');
                $('#showExample').hide();//fadeOut('slow')
            });
        });
</script>
{% endblock %}

