{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}

    <!--<div class="d-flex justify-content-center align-items-center"> -->
    <div class="row">
    	<div class="col-sm-1"></div>
    	<div class="col-sm-12">
    		<div class="instruction">
    			<h3>
	    		List of RCTs for intervention comparison sentence extraction
		    	</h3>
		    	
		    	<p><strong>Important Note: </strong> Below is a list of 50 RCT studies presented for identification and extraction of sentences that indicates interventions are being compared in each article. The guidelines are as follows:</p>
		    	<ol>
		    		<li>Scan each abstract to identify any sentence of interest. Then, click on the sentence(s)</li>
		    		<li>The sentence(s) automatically appears to the right of the abstract. If there occurs a <strong>mistake</strong>, double click the corresponding sentence column to the right of the abstract to change your choice.</li>
		    		<li>In the extracted sentence, highlight any clause or phrase(s) that actually signals the comparison.</li>
		    		<li>Uncheck the RCT column box for any study you presume not to be a RCT.</li>
		    		<li>Click on the 'click to submit' button at the buttom of the page when you finish to submit your response.</li>
		    	</ol>
    		</div>
    	</div>
    	<div class="col-sm-1"></div>
    </div>

    
    <form action="{{ url_for('main.process') }}" method="post">
    	{{ pub_form.hidden_tag() }}
  		<div class="row">
  			<div class="col-sm-1 visible-sm-block"></div>
    		<div class="table-responsive-md col-md-12 col-sm-10">
    			<table class="dataframe table table-striped table-hover w-auto">
    				<tr>
    					<th class="col-sm-1 mx-auto">Number</th>
    					<th class="col-sm-7 mx-auto">Abstract</th>
    					<th class="col-sm-2 mx-auto">Sentence</th>
    					<th class="col-sm-1 mx-auto">Clause/Phrase</th>
    					<th class="col-sm-1 mx-auto"> RCT</th>
    				</tr>
    				{% for article, abst in pub %}
    				<div class="form-group">
    					<tr>
    						<td class="col-sm-1">{{ article.number(size=7)}}</td>
    						<td id="abstract" class="col-sm-7">{% for a in abst.Abstract %} <a class='abstract text-justify' href="">{{ a }}</a>{% endfor %}</td>
    						<td class="col-sm-2">{{ article.sentence(class_='sentence form-control') }}</td>
    						<td class="col-sm-1">{{ article.clause(class_='clause form-control') }}</td>
    						<td class="col-sm-1">{{ article.rct(class_="checkbox-bootstrap form-control") }}</td>
    					</tr>
    				</div>
    				{% endfor %}
    			</table>
    		</div>
    		<div class="col-sm-1 visible-sm-block"></div>
    	</div>
    	<div class="row">	
    		{{ wtf.quick_form(sub_form, button_map={'submit': 'primary btn-lg'}) }}
    	</div>
    <!--</form>-->
	

{% endblock %}

{% block scripts %}
{{ super() }}
<script>
	
    $(".abstract").click(function (e) {
    	e.preventDefault();
    	var copyText = $(this).text();
    	document.addEventListener('copy', function(e) {
      		e.clipboardData.setData('text/plain', copyText);
      		e.preventDefault();
   		}, true);

    	document.execCommand("copy");
    	if (!$(this).closest('tr').find('.sentence').val()){
    		$(this).closest('tr').find('.sentence').val(copyText);
    	}
    	else {
    		$(this).closest('tr').find('.sentence').val($(this).closest('tr').find('.sentence').val() + '\n' + '***' + copyText);
    	}
    });

    $('.sentence').select(function () {

    	var selectedText = '';
    	//var text = "";
    	var activeEl = document.activeElement;
    	var activeElTagName = activeEl ? activeEl.nodeName.toLowerCase() : null;
    	if ((activeElTagName == "textarea") || (activeElTagName == "input")) {
        	selectedText = activeEl.value.slice(activeEl.selectionStart, activeEl.selectionEnd);
    	} 
    	else if (window.getSelection) {
        selectedText = window.getSelection().toString();
    	}
    	console.log(selectedText)
    	if (!$.trim($(this).closest('tr').find('.clause').val())){
    		
    		$(this).closest('tr').find('.clause').val(selectedText);
    	}
    	else{
    		$(this).closest('tr').find('.clause').val($(this).closest('tr').find('.clause').val() + '\n***' + selectedText);
    	}

    	window.getSelection().removeAllRanges();
    });


	$('.sentence').dblclick(function(){
    	$(this).val('');
    	$(this).closest('tr').find('.clause').val('');

    });

    $('.clause').dblclick(function(){
    	$(this).val('');

    });

</script>
{% endblock %}

