{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <div class="container">
    	<h3>
    		Process Summary
    	</h3>
        <p>Input successfully saved to the database. Below is the summary of the saved result.</p>
    		<div>
                {{ msg | safe }}
    		</div>
        <p>Click a button below.</p>
        <div>
            <form action="{{ url_for('main.more') }}" method="post" class="process">
                {% if more_form %}
                
                {{ wtf.quick_form(more_form) }}
                {% endif %}
            </form>

            <form action="{{ url_for('main.terminate') }}" method="post" class="process">
                {% if close_form %}
                
                {{ wtf.quick_form(close_form) }}
                {% endif %}
            </form>
        </div>
    </div>
{% endblock %}
